{% extends "base/common1.html" %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% block search %}{% include 'base/search.html'%}{% endblock %}
{% block category %}{% include 'base/category.html'%}{% endblock %}
{% block recommend %}{% include 'base/recommend.html'%}{% endblock %}
{% block rank %}{% include 'base/rank.html'%}{% endblock %}
{% block cloud %}{% include 'base/cloud.html'%}{% endblock %}
{% block follow %}{% include 'base/follow.html'%}{% endblock %}
{% block right_box %}{% endblock %}