{% extends "base/common1.html" %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% block about %}{% include 'base/about.html'%}{% endblock %}
{% block photo %}{% include 'base/photo.html'%}{% endblock %}
{% block search %}{% include 'base/search.html'%}{% endblock %}
{% block category %}{% include 'base/category.html'%}{% endblock %}
{% block recommend %}{% include 'base/recommend.html'%}{% endblock %}
{% block friendly_links %}{% include 'base/friendly_links.html'%}{% endblock %}
{% block follow %}{% include 'base/follow.html'%}{% endblock %}
{% block right_box %}{% endblock %}